/* 
    Author     : amalchrowicz
*/
@import "variables.less";		

body {
	/*font-family: WTMannaSans,Arial,"Arial Unicode MS",sans-serif;*/
	min-width: 300px;
	line-height: 1.4rem;
	color: @text-color;
	line-break: strict;
	margin: 0;
	padding: 0;
	
	background-color: @body-bg-color;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
	> main {
		/*layout*/
		display: grid;
		grid-template-rows: auto 1fr;
				
		/*full space*/
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		
		> .navbar {
			margin: 0 !important;
			color: #efefef !important;
			background-color: @text-color !important;

			.active-user {
				text-align: right;
				line-height: 50px;
				vertical-align: middle;
				color: @color-primary;
				height: 50px;
			}
		}
		
		> .site-container {
			padding: 0;
			position: relative;
			background-color: white;
		}
	}
}

.headerBrandContainer, .menuContainer {
	margin: 0;
	min-height: 2em;
	padding: 0;
	/*height: fit-content;*/
}
.headerBrandContainer .siteName {
	color: #555;
	line-height: 1.5;
	font-weight: 500;
	font-size: 1.5rem;
	margin-left: 10px;
	margin-right: 38px;
}
.colored {
	color: #0066cc;
}

.menuContainer, .menuContainer > .container {
	background-color: #0066cc;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1rem;
}
.menuContainer > .container {
	padding-top: 0;
	padding-bottom: 0;
}
.menuContainer > * > span {
	padding: 10px;
	line-height: 1.2;
	display: inline-block;
}
.menuContainer > * > span:hover {
	background-color: #003399;
}

.footer > .container {
	background-color: #373433;
	color: #eceae7;
	padding: 6px 0 10px 0;
	text-align: center;
	font-size: .8298755187em;
}
.footer a {
	text-decoration: none;
	color: #0066cc;
}

.person {
	font-weight: 500;
}
.person > .deleteButton {
	display: none;
	padding-left: 0.9rem;
}

.person:hover > .deleteButton {
	display: inline;
}

.content {
	padding: 40px;
}

.tableau {
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	padding: 0.8em;
}

.button-bar {
	padding: 0.8em 0;

	.button {
		background-color: #0066cc;
		color: #fff;
		font-weight: 500;
		border: none;
		border-radius: 0.18em;
		padding: 8px 12px;
		outline: none;
		font-size: 1rem;
		box-shadow: 0 0 0.33em -0.09em #424242;
	}
	.button:hover {
		background-color: #000066;
		box-shadow: 0 0 0.33em 0.09em #424242;
	}
}

.dialog {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #fff;
	border: solid 1px #0066cc;
	box-shadow: 0 0 12px -1px #424242;
	transition: all 2s ease-in-out 0s;
	backdrop-filter: blur(0px);
}
.dialog:hover {
	box-shadow: 10px 100px 30px -1px #424242;
	transition-delay: 10s;
	transition-duration: 10s;
}
.dialog .button-bar {
	text-align: center;
}

.dialog input {
	width: 12rem;
	padding: 6px 10px;
	border: solid 1px #0066cc;
	border-radius: 6px;
	margin-bottom: 4px;

	outline: none;
	transition: box-shadow 1s ease-in-out, border-color 1s linear;
}

.dialog input:focus {
	border: solid 1px #000066;
	box-shadow: 0 0 0.5em -0.18em #0066cc;
}

.dialog-title {
	background-color: #0066cc;
	color: #fff;
	padding: 6px 10px;
	font-size: 1.1rem;
	line-height: 1.3;
	font-weight: 600;
	text-shadow: 0 0 2px #222222;
	position: relative;
}
.dialog-title > .jw-logo-stable {
	position: absolute;
	float: right;
	top: -15px;
	right: 0;
	height: 64px;
}
.dialog-content {
	padding: 1em;
	background-color: transparent;
}
.show {
	display: block !important;
}

.affichage {
	margin: -80px 20px 20px 20px;
	padding: 20px;
	background-color: rgba(42, 42, 42, 0.8);
	border-radius: 12px;
	backdrop-filter: blur(3px);
}
.affichage > a {
	color: #fff;
	text-decoration: none;
	display: block;
	position: relative;
	font-size: 1.2rem;
	padding: 10px;
	transition: background-color 200ms ease-out;

	/*width: 280px;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.affichage > a:hover {
	background-color: #0066cc;
	color: #fff;
	transition-duration: 0;
}

.no-wrap {
	white-space: nowrap;
}


@media screen and (min-width: 960px) {
	.container {
		max-width: 1140px;
		min-width: 800px;
		box-shadow: 0 0 2.5em -0.5em rgba(42,42,42,0.5);
	}
}

@media screen and (max-width: 600px) {
	.jw-logo {
		height: 36px;
		width: 50px;
		top: 0;
		right: -12px;
	}
}

.oiseau-2 {
	display: block;
	position: fixed;
	top: 20vh;
	left: -30vw;
	animation: vol-2 infinite linear 20s 15s;
}

.oiseau-3 {
	display: block;
	position: fixed;
	top: 50vh;
	left: 130vw;
	animation: vol-3 infinite linear 25s 25s;
}

@media screen and (orientation:portrait) {
	.oiseau-2 {
		animation-duration: 7s;
	}
	.oiseau-3 {
		animation-duration: 9s;
	}
}

.oiseau-2 > *:first-child, 
.oiseau-3 > *:first-child {
	width: 6rem;
}

@keyframes vol-1 {
	0%   {left: -30vw; top: 30vh;}
	20%  {left: 50vw; top: 25vh;}
	40%  {left: 130vw; top: 10vh;}
	100% {left: 130vw; top: 10vh;}
}
@keyframes vol-2 {
	0%   {left: -30vw; top: 15vh;}
	20%  {left: 55vw; top: 18vh;}
	38%  {left: 130vw; top: 25vh;}
	100% {left: 130vw; top: 10vh;}
}
@keyframes vol-3 {
	0%  {left: 130vw; top: 10vh;}
	20%  {left: 50vw; top: 25vh;}
	40%   {left: -30vw; top: 30vh;}
	100%   {left: -30vw; top: 30vh;}
}

