@import "variables.less";

.left-menu-panel {
	position: absolute;
	margin: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	flex-flow: row;

	display: grid;
	grid-template-columns: auto 1fr;



	> .left-menu {
		width: 250px;
		position: relative;
		
		background-color: #cfcfcf;
		height: 100%;
		border-right: 1px outset #cfcfcf;
		box-shadow: 0 0 4px -1px #222222;
		z-index: 1;

		display: grid;
		grid-template-rows: auto 1fr auto;
		
		> .top {
			border-bottom: 1px solid #efefef;
			position: relative;
		}

		.menu-container {
			position: relative;
			width: 100%;
			overflow-y: auto;
		}
		
		> .bottom {
			border-top: 1px solid #efefef;
			height: 35px;
			
		}

		.menu-separator {
			height: 0;
			border-top: 1px solid #efefef;
		}
		
		.menu-item {
			height: 36px;
			line-height: 36px;
			vertical-align: middle;
			font-weight: 700;
			transition: background-color 250ms ease-in-out 0ms;
			
			> * > i.fa:first-child {
				width: 30px;
				
				&:before {
					position: absolute;
					margin-top: -17px;
				}
			}
			
			&.selected {
				background-color: @color-primary;
				color: white;
				font-weight: 900;
			}
			
			&:hover {
				background-color: @color-info;
				color: white;
				
				cursor: pointer;
				
				box-shadow: 1px 0 4px -1px #222222;
				transition-delay: 0ms;
				transition-duration: 0ms;
			}
		}

		.menu-toolbar {
			color: #424242;
			height: 36px;
			line-height: 36px;
			padding: 0;
			vertical-align: middle;
			width: 100%;

			> *:last-child {
				padding-right: 10px;
				cursor: pointer;
			}

			&.bottom {
				text-align: right;
			}
		}

		.menu-toolbar > *:first-child,
			.menu-item > *:first-child {
			padding-left: 10px;
		}
	}

	> *:nth-child(2) {
		display: flex;
		flex-flow: column;
		position: relative;
		padding: 20px;
		background-color: #EFEFEF80;
		
		.active-panel {
			margin-bottom: 20px;
		}
	}
}