/*
	Variables
*/
@text-color :			#424242;

@body-bg-color:			#990000;

@color-primary:         #2A9FD6;
@color-success:         #77B300;
@color-info:            #9933CC;
@color-warning:         #FF8800;
@color-danger:          #CC0000;

/* Reset h* */
h1,h2,h3,h4,h5,h6 {
	color: @text-color !important;
}